apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: compliance-operator-policies
  # Esta fecha se actualiza sola con Ansible
  # Última actualización: 2025-12-22T14:54:15Z

policyDefaults:
  namespace: policies
  remediationAction: enforce   # <--- CAMBIO 1: Forzar creación
  placement:
    labelSelector:
      matchLabels:
        compliance: "enabled"  # <--- CAMBIO 2: Usar etiqueta dinámica

policies:
  - name: install-compliance-operator
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/install

  - name: scan-setting-periodic
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/scan-setting

  # Mantener la lógica dinámica de Ansible para activar/desactivar escaneos
  - name: run-cis-scan
    remediationAction: enforce
    # Aquí Ansible decide si activa o desactiva según tus variables
    disabled: False
    manifests:
      - path: compliance-operator/profiles/cis

  - name: run-pci-scan
    remediationAction: enforce
    disabled: False
    manifests:
      - path: compliance-operator/profiles/pci
