apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: compliance-operator-policies
  # Última actualización: 2025-12-17T23:41:06Z

policyDefaults:
  namespace: policies
  remediationAction: inform
  placement:
    labelSelector:
      matchExpressions:
        - key: environment
          operator: In
          values:
            - cluster-acs

policies:
  - name: install-compliance-operator
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/install

  - name: run-cis-scan
    remediationAction: inform
    disabled: false
    manifests:
      - path: compliance-operator/profiles/cis

  - name: run-pci-scan
    remediationAction: inform
    disabled: false
    manifests:
      - path: compliance-operator/profiles/pci
