apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: compliance-operator-policies
  # ELIMINADO: ansible_date_time (Causa probable del crash)

policyDefaults:
  namespace: policies
  remediationAction: enforce
  placementRef:
    name: placement-compliance-enabled
    kind: Placement
    apiVersion: cluster.open-cluster-management.io/v1alpha1

policies:
  - name: install-compliance-operator
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/install

  - name: scan-setting-periodic
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/scan-setting

  # --- ESCANEO CIS ---
  - name: run-cis-scan
    remediationAction: enforce
    disabled: false
    manifests:
      - path: compliance-operator/profiles/cis

  # --- ESCANEO PCI ---
  - name: run-pci-scan
    remediationAction: enforce
    disabled: false
    manifests:
      - path: compliance-operator/profiles/pci
