apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: compliance-operator-policies
  # Última actualización: 2025-12-22T14:25:06Z

policyDefaults:
  namespace: policies
  remediationAction: inform
  placement:
    labelSelector:
      matchLabels:
        compliance: "enabled"

policies:
  - name: install-compliance-operator
    disabled: false
    remediationAction: enforce
    manifests:
      - path: compliance-operator/install

  - name: scan-setting-periodic
    remediationAction: inform
    disabled: false
    manifests:
      - path: compliance-operator/scan-setting

  - name: run-cis-scan
    remediationAction: inform
    disabled: false
    manifests:
      - path: compliance-operator/profiles/cis

  - name: run-pci-scan
    remediationAction: inform
    disabled: false
    manifests:
      - path: compliance-operator/profiles/pci
