apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: compliance-operator-policies

policyDefaults:
  namespace: policies
  remediationAction: enforce
  placement:
    labelSelector:
      matchLabels:
        "compliance": "enabled"

policies:
  - name: install-compliance-operator
    disabled: false
    manifests:
      - path: compliance-operator/install

  - name: scan-setting-periodic
    disabled: false
    manifests:
      - path: compliance-operator/scan-setting

  - name: run-cis-scan
    disabled: false
    manifests:
      - path: compliance-operator/profiles/cis

  - name: run-pci-scan
    disabled: false
    manifests:
      - path: compliance-operator/profiles/pci
